body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fffde7;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

h1 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

button {
  background-color: #1565c0;
  color: white;
  border: none;
  padding: 12px 25px;
  margin: 0px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
button:hover {
  background-color: #0d47a1;
}
.function-button {
  background-color: rgb(88, 74, 58);
  color: white;
  border: none;
  padding: 12px 25px;
  margin: 0px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.function-button:hover {
  background-color: rgb(63, 51, 38);
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: white;      
  padding: 50px;                
  border-radius: 12px;
}
.full-width {
  background-color: rgb(88, 74, 58);
  grid-column: span 4;
}
.full-width:hover {
  background-color: rgb(63, 51, 38);
}
.display {
  grid-column: span 4;
  background-color: #dfd4d4;
  color: rgb(63, 51, 38);
  font-size: 2em;
  border: none;
  padding: 30px;
  border-radius: 8px;
}